/node_modules
/public/hot
/public/storage
/public/img/news
/public/img/teachers
/public/video/
/public/edu
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
