.label{
  border-radius: 10%;
}
@font-face {
  font-family:'Font';
  src: url('/fonts/BTITRBOLD.ttf');
}
@font-face {
  font-family: 'IranNastaliq';
  src: url('/fonts/IranNastaliq.eot?#') format('eot'),
  url('/fonts/IranNastaliq.ttf') format('truetype'),
  url('/fonts/IranNastaliq.woff') format('woff');
}
.iran{
  font-family:IranNastaliq,'IranNastaliq',tahoma;
  font-size:12px;
}
body, html {
  height: 100%;
  margin: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: dimgrey;
  color: white;
  text-align: center;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.bg {
  background-image: url("/img/bg.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
.carousel {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
li.different{
  border:none;
  position: relative;
}
li.different:hover{
  border: none;
}
li:hover {
  border-bottom: 5px solid #FFFFFF;
}
.different::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  background-color: darkblue;
  transition: all ease-in-out .2s;
}
.different:hover::after{
  width: 100%;
  left: 0;
}